.filter_container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #00BFA6;
  color: white;
  display: block;
  overflow: auto;
  @media(min-width: 992px){
    position: unset;
  }
}

.filter_container-hide{
  display: none;
  @media(min-width: 992px){
    display: block;
    margin-top: 10px;
    margin-right: 20px;
    width: 200px;
    border: 1px solid #00BFA6;
    border-radius: 5px;
    height: fit-content;
  }
}

.filter_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  @media(min-width: 992px){
    padding: 0;
    
  }
  .filter_title{
    font-size: 20px;
    @media(min-width: 992px){
      border: 1px solid #00BFA6;
      width: 100%;
      padding: 5px 0;
      text-align: center;
     
      background-color: #00BFA6;
      color: white;
    }
  }
  .close_icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media(min-width: 992px){
      display: none;
    }
    img{
      width: 25px;
    }
  }
}

.filter_list{
  margin-bottom: 15px;
  font-size: 18px;
  padding: 0 40px;
  cursor: pointer;
  @media(min-width: 992px){
    padding: 0;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #00BFA6;
  }

  form{
    display: flex;
    align-items: center;
  }

  input{
   appearance: none;
  }

  input:checked ~ .box{
    background-color: white;
    @media(min-width: 992px){
      background-color: #00BFA6;
    }
   }

  .box{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 100%;
    @media(min-width: 992px){
      border-color: #00BFA6;
     
    }
  }

  label{
    margin-left: 25px;
    cursor: pointer;
  }
}

.button_reset{
  padding: 0 30px;
  position: absolute;
  width: 100%;
  bottom: 40px;
  @media(min-width: 992px){
   position: unset;
   padding: 0 10px;
   margin-bottom: 10px;
  }
}

.reset_filter{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  margin: auto;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  color: #00BFA6;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  img{
    width: 25px;
    margin-right: 10px;
  }
  @media(min-width: 992px){
   border: 1px solid #00BFA6;
   width: 100%;
   padding: 2px 10px;
   font-size: 14px;
   img{
    width: 20px;
    }
  }
}

.reset_filter:hover{
  @media(min-width: 992px){
    background-color: #00BFA6;
    color: white;
    img{
      filter: brightness(0) invert(1);
    }
  }
}
